body {
    height : 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom right, #ffe5e5 0%, #a9b5df 100%);
    margin: 0;
    overflow: hidden; 
}
html {
    height: 100%; /* Ensure the html element takes full height */
    width: 100%; /* Ensure the html element takes full width */
    overflow: hidden; 
}

header {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    overflow: visible;
    background-color: transparent;
    color: #2D336B;
    padding: 2vh;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    height: 10%;
    width: 100%;
    font-size: 2em; /* Font size for the header */
}


#content {
    display: flex;
    flex-direction: row; /* Arrange sections in a row */
    align-items: center; /* Align items vertically in the center */
    width: 100%;
    justify-content: space-between; /* Distribute sections evenly */

    height : 80%;
    padding-top: 7%; 
    padding-bottom : 3%;
    
}

.section {
    width : 33%;
    height : 100%; 
    background-color:#7886C7;
    margin: 0 2%; /* Add horizontal spacing instead of vertical */
    font-size : 200%;
    align-items: center; /* Align items vertically in the center */
    justify-self: center; /* Center the content horizontally within the section */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Shadow effect */
    color: #FFE5E5;
    border-radius: 3%; /* Rounded corners */
}

#uploadedPDF {
    font-size: 18px;
    padding: 10px;
    width: 80%; /* Makes it responsive */
    height: 50px;
    border-radius: 5px;
    background-color: #7886C7;
    cursor: pointer;
}
textarea {
    margin-top: 7%;
    font-size: 18px;
    width: 90%;
    height: 50%; /* Increased height */

    border-radius: 8px;
    border: 1px solid white;
}

button {
    font-size: 150%;
    margin-top: 13%;
    padding: 10%;
    padding-top: 10%;
    height: 80%;
    width: 80%; /* Makes it responsive */
    border-radius: 7%; /* Rounded corners */
    background: linear-gradient(to right,#c6cbde , #A9B5DF );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    color : #2D336B;
}